networks:
  1panel-network:
    external: true

services:
  element-web:
    image: vectorim/element-web:v1.11.97
    container_name: ${CONTAINER_NAME}
    labels:
      createdBy: "Apps"
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:80
    env_file:
      - ${GLOBAL_ENV_FILE:-/etc/1panel/envs/global.env}
      - ${ENV_FILE:-/etc/1panel/envs/default.env}
    volumes:
      - ${ELEMENT_WEB_ROOT_PATH}/config/config.json:/app/config.json
